*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'aeonik-medium';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1% 2% 5% 2%;
    background: rgb(183, 224, 254, .8);
    color: rgb(31, 31, 59);
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    min-height: 100%;
    background: #fff;
    padding: 2% 2% 2% 2%;
}

/* --------------------------== Header section ==-------------------------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo{
    font-family: sans-serif 'poppins';
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.2rem;
}

.search-box{
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    gap: .3rem;
}

.search-box .search-bar{
    background: rgba(102, 117, 172, 0.1);
    padding: .6rem;
    width: 100%;
    border-radius: 12rem;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    align-items: center;
    color: rgba(40, 40, 71, 0.7);
    gap: 0.6rem;
    box-shadow: 3px 3px 10px #00000022;
}

.search-bar .ri-search-line{
    color: rgba(40, 40, 71, 0.7);
    transition: all .3s ease;
}
.search-bar .ri-search-line.active{
    color: blue;
    transform: scale(1.1);
}

.search-bar .ri-close-circle-line{
    cursor: pointer;
}

.search-box .search-bar input{
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}
.search-box .search-bar input::placeholder{
    color: rgba(40, 40, 71, 0.7);
}

.search-box .search-btn{
    padding: .6rem;
    border: none;
    width: 20%;
    border-radius: 20rem;
    background: rgb(31, 31, 59);
    color: #ccc;
    box-shadow: 3px 3px 10px #000000;
    transition: background .1s ease, transform .1s ease;
}
.search-box .search-btn:hover{
    cursor: pointer;
    background: rgb(60, 60, 105);
    transform: scale(1.05);    
}

.head-icons{
    display: flex;
    gap: .7rem;
}
.head-icons a{
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 200;
    background: rgba(102, 117, 172, 0.1);
    color: rgba(40, 40, 71, 0.7);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: .2rem;
    overflow: hidden;
    transition: all .3s ease;
}
.head-icons a:nth-child(3){
    font-size: 2.1rem;
}

.head-icons a:hover{
    background: rgba(25, 29, 45, 0.3);
    color: rgba(63, 63, 104, 0.7);
    transform: scale(1.05);
}

/* --------------------------== Info section ==-------------------------- */
.info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 70vh;
    background: linear-gradient(180deg, rgba(100, 100, 100, 0.1), transparent);
    border-radius: 1rem;
    border: 1px solid #00000011;
    padding: 3rem 0 2rem 2rem;
}

.info .info-text{
    padding: 5rem 4rem 0 2rem;
}

.info .info-text h2{
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 1rem;
}
.info .info-text p{
    color: rgba(40, 40, 71, 0.7);
    margin-bottom: 2rem;
}
.info .info-text a{
    display: inline-block;
    text-align: center;
    background: rgb(255, 166, 0);
    padding: .8rem;
    border-radius: 1.2rem;
    color: #fff;
    transition: all .3s ease;
}
.info .info-text a:hover{
    background: rgb(113, 75, 6);
    transform: scale(1.05);
}

.info img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.sub-title{
    padding: 4rem 1rem 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub-title h3{
    font-size: 1.7rem;
    font-weight: bold;
}
.sub-title a{
    font-size: 1rem;
    color: rgb(255, 166, 0);
    position: relative;
}
.sub-title a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    right: 0;
    border-radius: 0.5rem;
    height: .2rem;
    background-color: #dac522;
    width: 0%;
    transition: width 0.3s ease;
}
.sub-title a:hover::after{
    width: 100%;
}

.categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 1rem;
}

.category{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 1.5rem;
    box-shadow: 1px 1px 10px #00000011;
    padding: 2rem;
    transition: all .3s ease;
}
.category:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 1.5rem;
    border: none;
    transition: width .3s ease, height .3s ease, top .3s ease, left .3s ease;
}
.card:hover::before{
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 1px solid #dac522;
}

.category h4{
    font-size: 1rem;
    font-weight: 500;
}
.category img{
    object-fit: cover;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.mobile-categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.mobile-category{
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 1px 1px 10px #00000011;
    transition: all .3s ease;
}

.mobile-category h4{
    padding-top: 1rem;
    font-size: 1.2rem;
}

.mobile-category img{
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
    object-fit: cover;
}

.mobile-category .mobile-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.mobile-category .mobile-info p{
    color: rgba(40, 40, 71, 0.7);
}
.mobile-category .mobile-info a{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #e98409;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transform: scale(0);
    transition: transform .4s ease;
}

.mobile-category h3{
    font-size: 1.2rem;
    color: #ff8c00;
}

.mobile-category:hover{
    cursor: pointer;
    border: none;
}
.mobile-category:hover a{
    transform: scale(1);
}

.category-selector{
    display: flex;
    align-items: center;
    padding: 10px;
    background: #e9840933;
    border-radius: 2rem;
    padding: .6rem 1rem;
    gap: .8rem;
}

.category-selector button{
    border: none;
    background: transparent;
    padding: .3rem 1.1rem;
    border-radius: 2rem;
    font-size: .9rem;
    transition: background .3s linear;
}
.category-selector button.active{
    background: #fff;
}
.category-selector button:not(.active):hover{
    cursor: pointer;
    background: #ffffff66;
}

.load-section{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 3rem;
}

.load-more{
    background: transparent;
    display: flex;
    gap: .3rem;
    align-items: center;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    padding: .8rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid #00000055;
    box-shadow: 2px 2px 10px #00000022;
}
.load-more:hover{
    background: #00000033;
    cursor: pointer;
}

.spin{
    animation: spin .4s linear 1;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* --------------------------== Inquiry section ==-------------------------- */
.inquiry-section{
    height: fit-content;
    background: linear-gradient(0deg, rgba(100, 100, 100, 0.1), transparent);
    border-radius: 1rem;
    padding-bottom: 3rem;
}

.inquiry-section .inquiry-text{
    padding: 4rem;
    color: #e98409;
    font-weight: normal;
}
.inquiry-section .inquiry-text span{
    font-family: sans-serif 'poppins';
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.2rem;
    color: rgb(31, 31, 59);
}

.inquiry-section .inquiry-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    background: #fff;
    align-items: center;
    justify-items: center;
    margin: 0 4rem;
}

.inquiry-section .inquiry-items .info1{
    background: #fff;
    width: 21.6rem;
    height: 20rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    box-shadow: 3px 3px 10px #00000022;
    position: relative;
}

.inquiry-section .inquiry-items .info1 img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.inquiry-section .inquiry-items .info1 p{
    color : rgb(31, 31, 59, 0.5);
    padding-inline: 1rem;
}
.inquiry-section .inquiry-items .info1 a{
    color: rgb(31, 31, 59);  
    position: relative;  
}
.inquiry-section .inquiry-items .info1 a::after{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    border-radius: .3rem;
    background: rgb(31, 31, 59);  
    left: 0;
    bottom: 0;
    transition: width .3s linear;
}
.inquiry-section .inquiry-items .info1 a:hover::after{
    width: 100%;
}

.footer{
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(31, 31, 59, 0.6);
}

.footer div{
    display: flex;
    text-align: left;
    gap: 2rem;
    width: 300px;
    flex-direction: column;
}
.footer div h2{
    font-family: sans-serif 'poppins';
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -.2rem;
    color: rgb(31, 31, 59);
}

.footer li{
    display: flex;
    text-align: left;
    gap: 1.8rem;
    width: 200px;
    flex-direction: column;
}
.footer li span{
    color: rgb(46, 46, 82);
    font-size: 1.2rem;
    font-weight: 550;
    margin-bottom: 1.5rem;
}

.footer li a{
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 80%;
    gap: .8rem;
    border-radius: 2rem;
    justify-content: center;
    border: 1px solid #c97106;
    color: rgb(35, 35, 63);
    font-size: 1rem;
   transition: transform .3s linear, background .3s ease;
}
.footer li a:HOVER{
    transform: scale(1.1);
    background: #c971062e;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00000011;
    border-radius: 2rem;
    padding: .5rem .8rem;
    color: rgb(35, 35, 63, 0.7);
}
footer p span{
    font-size: 1.1rem;
    letter-spacing: -.08rem;
    color: rgb(35, 35, 63);
}

footer .footer-icons{
    display: flex;
    gap: 10px;
}

footer .footer-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border-radius: 50%;
    border: 1px solid #00000033;
    background: #fff;
    font-size: .8rem;
    color: rgb(31, 31, 59, 0.8);
    transition: transform .3s linear, background .3s ease;
}
footer .footer-icons a:hover{
    transform: scale(1.1);
    background: #00000033;
}